body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; }

.main {
  margin: 10px 0px 0px 10px; }

.header {
  font-size: 30px;
  font-weight: bold; }

.selection__header {
  font-size: 30px;
  font-weight: bold; }

.selection__selectedTypes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 450px; }
  .selection__selectedTypes .selected__type {
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 2px black;
    text-align: center;
    margin-top: 15px;
    color: black; }
    .selection__selectedTypes .selected__type:disabled {
      cursor: not-allowed; }
    .selection__selectedTypes .selected__type--Normal {
      background-color: #A8A878; }
      .selection__selectedTypes .selected__type--Normal:hover {
        cursor: pointer;
        background-color: #6D6D4E; }
      .selection__selectedTypes .selected__type--Normal:disabled {
        cursor: not-allowed;
        background-color: #6D6D4E;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Fighting {
      background-color: #C03028; }
      .selection__selectedTypes .selected__type--Fighting:hover {
        cursor: pointer;
        background-color: #7D1F1A; }
      .selection__selectedTypes .selected__type--Fighting:disabled {
        cursor: not-allowed;
        background-color: #7D1F1A;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Flying {
      background-color: #A890F0; }
      .selection__selectedTypes .selected__type--Flying:hover {
        cursor: pointer;
        background-color: #6D5E9C; }
      .selection__selectedTypes .selected__type--Flying:disabled {
        cursor: not-allowed;
        background-color: #6D5E9C;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Poison {
      background-color: #A040A0; }
      .selection__selectedTypes .selected__type--Poison:hover {
        cursor: pointer;
        background-color: #682A68; }
      .selection__selectedTypes .selected__type--Poison:disabled {
        cursor: not-allowed;
        background-color: #682A68;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Ground {
      background-color: #E0C068; }
      .selection__selectedTypes .selected__type--Ground:hover {
        cursor: pointer;
        background-color: #927D44; }
      .selection__selectedTypes .selected__type--Ground:disabled {
        cursor: not-allowed;
        background-color: #927D44;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Rock {
      background-color: #B8A038; }
      .selection__selectedTypes .selected__type--Rock:hover {
        cursor: pointer;
        background-color: #786824; }
      .selection__selectedTypes .selected__type--Rock:disabled {
        cursor: not-allowed;
        background-color: #786824;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Bug {
      background-color: #A8B820; }
      .selection__selectedTypes .selected__type--Bug:hover {
        cursor: pointer;
        background-color: #6D7815; }
      .selection__selectedTypes .selected__type--Bug:disabled {
        cursor: not-allowed;
        background-color: #6D7815;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Ghost {
      background-color: #705898; }
      .selection__selectedTypes .selected__type--Ghost:hover {
        cursor: pointer;
        background-color: #493963; }
      .selection__selectedTypes .selected__type--Ghost:disabled {
        cursor: not-allowed;
        background-color: #493963;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Steel {
      background-color: #B8B8D0; }
      .selection__selectedTypes .selected__type--Steel:hover {
        cursor: pointer;
        background-color: #787887; }
      .selection__selectedTypes .selected__type--Steel:disabled {
        cursor: not-allowed;
        background-color: #787887;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Fire {
      background-color: #F08030; }
      .selection__selectedTypes .selected__type--Fire:hover {
        cursor: pointer;
        background-color: #9C531F; }
      .selection__selectedTypes .selected__type--Fire:disabled {
        cursor: not-allowed;
        background-color: #9C531F;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Water {
      background-color: #6890F0; }
      .selection__selectedTypes .selected__type--Water:hover {
        cursor: pointer;
        background-color: #445E9C; }
      .selection__selectedTypes .selected__type--Water:disabled {
        cursor: not-allowed;
        background-color: #445E9C;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Grass {
      background-color: #78C850; }
      .selection__selectedTypes .selected__type--Grass:hover {
        cursor: pointer;
        background-color: #4E8234; }
      .selection__selectedTypes .selected__type--Grass:disabled {
        cursor: not-allowed;
        background-color: #4E8234;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Electric {
      background-color: #F8D030; }
      .selection__selectedTypes .selected__type--Electric:hover {
        cursor: pointer;
        background-color: #A1871F; }
      .selection__selectedTypes .selected__type--Electric:disabled {
        cursor: not-allowed;
        background-color: #A1871F;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Psychic {
      background-color: #F85888; }
      .selection__selectedTypes .selected__type--Psychic:hover {
        cursor: pointer;
        background-color: #A13959; }
      .selection__selectedTypes .selected__type--Psychic:disabled {
        cursor: not-allowed;
        background-color: #A13959;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Ice {
      background-color: #98D8D8; }
      .selection__selectedTypes .selected__type--Ice:hover {
        cursor: pointer;
        background-color: #638D8D; }
      .selection__selectedTypes .selected__type--Ice:disabled {
        cursor: not-allowed;
        background-color: #638D8D;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Dragon {
      background-color: #7038F8; }
      .selection__selectedTypes .selected__type--Dragon:hover {
        cursor: pointer;
        background-color: #4924A1; }
      .selection__selectedTypes .selected__type--Dragon:disabled {
        cursor: not-allowed;
        background-color: #4924A1;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Dark {
      background-color: #705848; }
      .selection__selectedTypes .selected__type--Dark:hover {
        cursor: pointer;
        background-color: #49392F; }
      .selection__selectedTypes .selected__type--Dark:disabled {
        cursor: not-allowed;
        background-color: #49392F;
        color: #CCCCCC; }
    .selection__selectedTypes .selected__type--Fairy {
      background-color: #EE99AC; }
      .selection__selectedTypes .selected__type--Fairy:hover {
        cursor: pointer;
        background-color: #9B6470; }
      .selection__selectedTypes .selected__type--Fairy:disabled {
        cursor: not-allowed;
        background-color: #9B6470;
        color: #CCCCCC; }

.selection__selectTypes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 450px; }
  .selection__selectTypes .select__type {
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    border: solid 2px black;
    text-align: center;
    margin-top: 15px;
    color: white; }
    .selection__selectTypes .select__type:disabled {
      cursor: not-allowed; }
    .selection__selectTypes .select__type--Normal {
      background-color: #A8A878; }
      .selection__selectTypes .select__type--Normal:hover {
        cursor: pointer;
        background-color: #6D6D4E; }
      .selection__selectTypes .select__type--Normal:disabled {
        cursor: not-allowed;
        background-color: #6D6D4E;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Fighting {
      background-color: #C03028; }
      .selection__selectTypes .select__type--Fighting:hover {
        cursor: pointer;
        background-color: #7D1F1A; }
      .selection__selectTypes .select__type--Fighting:disabled {
        cursor: not-allowed;
        background-color: #7D1F1A;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Flying {
      background-color: #A890F0; }
      .selection__selectTypes .select__type--Flying:hover {
        cursor: pointer;
        background-color: #6D5E9C; }
      .selection__selectTypes .select__type--Flying:disabled {
        cursor: not-allowed;
        background-color: #6D5E9C;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Poison {
      background-color: #A040A0; }
      .selection__selectTypes .select__type--Poison:hover {
        cursor: pointer;
        background-color: #682A68; }
      .selection__selectTypes .select__type--Poison:disabled {
        cursor: not-allowed;
        background-color: #682A68;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Ground {
      background-color: #E0C068; }
      .selection__selectTypes .select__type--Ground:hover {
        cursor: pointer;
        background-color: #927D44; }
      .selection__selectTypes .select__type--Ground:disabled {
        cursor: not-allowed;
        background-color: #927D44;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Rock {
      background-color: #B8A038; }
      .selection__selectTypes .select__type--Rock:hover {
        cursor: pointer;
        background-color: #786824; }
      .selection__selectTypes .select__type--Rock:disabled {
        cursor: not-allowed;
        background-color: #786824;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Bug {
      background-color: #A8B820; }
      .selection__selectTypes .select__type--Bug:hover {
        cursor: pointer;
        background-color: #6D7815; }
      .selection__selectTypes .select__type--Bug:disabled {
        cursor: not-allowed;
        background-color: #6D7815;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Ghost {
      background-color: #705898; }
      .selection__selectTypes .select__type--Ghost:hover {
        cursor: pointer;
        background-color: #493963; }
      .selection__selectTypes .select__type--Ghost:disabled {
        cursor: not-allowed;
        background-color: #493963;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Steel {
      background-color: #B8B8D0; }
      .selection__selectTypes .select__type--Steel:hover {
        cursor: pointer;
        background-color: #787887; }
      .selection__selectTypes .select__type--Steel:disabled {
        cursor: not-allowed;
        background-color: #787887;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Fire {
      background-color: #F08030; }
      .selection__selectTypes .select__type--Fire:hover {
        cursor: pointer;
        background-color: #9C531F; }
      .selection__selectTypes .select__type--Fire:disabled {
        cursor: not-allowed;
        background-color: #9C531F;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Water {
      background-color: #6890F0; }
      .selection__selectTypes .select__type--Water:hover {
        cursor: pointer;
        background-color: #445E9C; }
      .selection__selectTypes .select__type--Water:disabled {
        cursor: not-allowed;
        background-color: #445E9C;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Grass {
      background-color: #78C850; }
      .selection__selectTypes .select__type--Grass:hover {
        cursor: pointer;
        background-color: #4E8234; }
      .selection__selectTypes .select__type--Grass:disabled {
        cursor: not-allowed;
        background-color: #4E8234;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Electric {
      background-color: #F8D030; }
      .selection__selectTypes .select__type--Electric:hover {
        cursor: pointer;
        background-color: #A1871F; }
      .selection__selectTypes .select__type--Electric:disabled {
        cursor: not-allowed;
        background-color: #A1871F;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Psychic {
      background-color: #F85888; }
      .selection__selectTypes .select__type--Psychic:hover {
        cursor: pointer;
        background-color: #A13959; }
      .selection__selectTypes .select__type--Psychic:disabled {
        cursor: not-allowed;
        background-color: #A13959;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Ice {
      background-color: #98D8D8; }
      .selection__selectTypes .select__type--Ice:hover {
        cursor: pointer;
        background-color: #638D8D; }
      .selection__selectTypes .select__type--Ice:disabled {
        cursor: not-allowed;
        background-color: #638D8D;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Dragon {
      background-color: #7038F8; }
      .selection__selectTypes .select__type--Dragon:hover {
        cursor: pointer;
        background-color: #4924A1; }
      .selection__selectTypes .select__type--Dragon:disabled {
        cursor: not-allowed;
        background-color: #4924A1;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Dark {
      background-color: #705848; }
      .selection__selectTypes .select__type--Dark:hover {
        cursor: pointer;
        background-color: #49392F; }
      .selection__selectTypes .select__type--Dark:disabled {
        cursor: not-allowed;
        background-color: #49392F;
        color: #CCCCCC; }
    .selection__selectTypes .select__type--Fairy {
      background-color: #EE99AC; }
      .selection__selectTypes .select__type--Fairy:hover {
        cursor: pointer;
        background-color: #9B6470; }
      .selection__selectTypes .select__type--Fairy:disabled {
        cursor: not-allowed;
        background-color: #9B6470;
        color: #CCCCCC; }

.selection__confirm {
  width: 450px;
  display: flex; }
  .selection__confirm .confirm__button {
    width: 100px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 2px black;
    text-align: center;
    margin-top: 15px;
    font-size: 20px; }
    .selection__confirm .confirm__button:hover {
      cursor: pointer;
      background-color: #666666; }
    .selection__confirm .confirm__button:disabled {
      cursor: not-allowed;
      background-color: #CCCCCC; }

.battlezone {
  display: none;
  margin-top: 15px; }
  .battlezone .turncount {
    width: 650px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .battlezone .turncount > * {
      margin: 0 5px; }
  .battlezone .healthsets {
    width: 650px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .battlezone .moves {
    width: 650px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .battlezone .moves .move {
      width: 100px;
      font-size: 20px;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      color: white; }
      .battlezone .moves .move:disabled {
        cursor: not-allowed; }
      .battlezone .moves .move--Normal {
        background-color: #A8A878; }
        .battlezone .moves .move--Normal:hover {
          cursor: pointer;
          background-color: #6D6D4E; }
        .battlezone .moves .move--Normal:disabled {
          cursor: not-allowed;
          background-color: #6D6D4E;
          color: #CCCCCC; }
      .battlezone .moves .move--Fighting {
        background-color: #C03028; }
        .battlezone .moves .move--Fighting:hover {
          cursor: pointer;
          background-color: #7D1F1A; }
        .battlezone .moves .move--Fighting:disabled {
          cursor: not-allowed;
          background-color: #7D1F1A;
          color: #CCCCCC; }
      .battlezone .moves .move--Flying {
        background-color: #A890F0; }
        .battlezone .moves .move--Flying:hover {
          cursor: pointer;
          background-color: #6D5E9C; }
        .battlezone .moves .move--Flying:disabled {
          cursor: not-allowed;
          background-color: #6D5E9C;
          color: #CCCCCC; }
      .battlezone .moves .move--Poison {
        background-color: #A040A0; }
        .battlezone .moves .move--Poison:hover {
          cursor: pointer;
          background-color: #682A68; }
        .battlezone .moves .move--Poison:disabled {
          cursor: not-allowed;
          background-color: #682A68;
          color: #CCCCCC; }
      .battlezone .moves .move--Ground {
        background-color: #E0C068; }
        .battlezone .moves .move--Ground:hover {
          cursor: pointer;
          background-color: #927D44; }
        .battlezone .moves .move--Ground:disabled {
          cursor: not-allowed;
          background-color: #927D44;
          color: #CCCCCC; }
      .battlezone .moves .move--Rock {
        background-color: #B8A038; }
        .battlezone .moves .move--Rock:hover {
          cursor: pointer;
          background-color: #786824; }
        .battlezone .moves .move--Rock:disabled {
          cursor: not-allowed;
          background-color: #786824;
          color: #CCCCCC; }
      .battlezone .moves .move--Bug {
        background-color: #A8B820; }
        .battlezone .moves .move--Bug:hover {
          cursor: pointer;
          background-color: #6D7815; }
        .battlezone .moves .move--Bug:disabled {
          cursor: not-allowed;
          background-color: #6D7815;
          color: #CCCCCC; }
      .battlezone .moves .move--Ghost {
        background-color: #705898; }
        .battlezone .moves .move--Ghost:hover {
          cursor: pointer;
          background-color: #493963; }
        .battlezone .moves .move--Ghost:disabled {
          cursor: not-allowed;
          background-color: #493963;
          color: #CCCCCC; }
      .battlezone .moves .move--Steel {
        background-color: #B8B8D0; }
        .battlezone .moves .move--Steel:hover {
          cursor: pointer;
          background-color: #787887; }
        .battlezone .moves .move--Steel:disabled {
          cursor: not-allowed;
          background-color: #787887;
          color: #CCCCCC; }
      .battlezone .moves .move--Fire {
        background-color: #F08030; }
        .battlezone .moves .move--Fire:hover {
          cursor: pointer;
          background-color: #9C531F; }
        .battlezone .moves .move--Fire:disabled {
          cursor: not-allowed;
          background-color: #9C531F;
          color: #CCCCCC; }
      .battlezone .moves .move--Water {
        background-color: #6890F0; }
        .battlezone .moves .move--Water:hover {
          cursor: pointer;
          background-color: #445E9C; }
        .battlezone .moves .move--Water:disabled {
          cursor: not-allowed;
          background-color: #445E9C;
          color: #CCCCCC; }
      .battlezone .moves .move--Grass {
        background-color: #78C850; }
        .battlezone .moves .move--Grass:hover {
          cursor: pointer;
          background-color: #4E8234; }
        .battlezone .moves .move--Grass:disabled {
          cursor: not-allowed;
          background-color: #4E8234;
          color: #CCCCCC; }
      .battlezone .moves .move--Electric {
        background-color: #F8D030; }
        .battlezone .moves .move--Electric:hover {
          cursor: pointer;
          background-color: #A1871F; }
        .battlezone .moves .move--Electric:disabled {
          cursor: not-allowed;
          background-color: #A1871F;
          color: #CCCCCC; }
      .battlezone .moves .move--Psychic {
        background-color: #F85888; }
        .battlezone .moves .move--Psychic:hover {
          cursor: pointer;
          background-color: #A13959; }
        .battlezone .moves .move--Psychic:disabled {
          cursor: not-allowed;
          background-color: #A13959;
          color: #CCCCCC; }
      .battlezone .moves .move--Ice {
        background-color: #98D8D8; }
        .battlezone .moves .move--Ice:hover {
          cursor: pointer;
          background-color: #638D8D; }
        .battlezone .moves .move--Ice:disabled {
          cursor: not-allowed;
          background-color: #638D8D;
          color: #CCCCCC; }
      .battlezone .moves .move--Dragon {
        background-color: #7038F8; }
        .battlezone .moves .move--Dragon:hover {
          cursor: pointer;
          background-color: #4924A1; }
        .battlezone .moves .move--Dragon:disabled {
          cursor: not-allowed;
          background-color: #4924A1;
          color: #CCCCCC; }
      .battlezone .moves .move--Dark {
        background-color: #705848; }
        .battlezone .moves .move--Dark:hover {
          cursor: pointer;
          background-color: #49392F; }
        .battlezone .moves .move--Dark:disabled {
          cursor: not-allowed;
          background-color: #49392F;
          color: #CCCCCC; }
      .battlezone .moves .move--Fairy {
        background-color: #EE99AC; }
        .battlezone .moves .move--Fairy:hover {
          cursor: pointer;
          background-color: #9B6470; }
        .battlezone .moves .move--Fairy:disabled {
          cursor: not-allowed;
          background-color: #9B6470;
          color: #CCCCCC; }
  .battlezone .reset, .battlezone .nextround {
    width: 650px;
    display: flex; }
    .battlezone .reset__button, .battlezone .nextround__button {
      display: none;
      width: 125px;
      margin: 0 auto;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      font-size: 20px; }
      .battlezone .reset__button:hover, .battlezone .nextround__button:hover {
        cursor: pointer;
        background-color: #666666; }
      .battlezone .reset__button:disabled, .battlezone .nextround__button:disabled {
        cursor: not-allowed;
        background-color: #CCCCCC; }
  .battlezone .textbox {
    margin-top: 15px; }

/*# sourceMappingURL=styles.css.map */
