body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; }
  @media screen and (max-width: 552px) {
    body {
      font-size: 18px; } }
  @media screen and (max-width: 320px) {
    body {
      font-size: 16px; } }

.main {
  margin: 10px 0px 0px 10px; }

.header {
  font-size: 30px;
  font-weight: bold; }
  @media screen and (max-width: 552px) {
    .header {
      font-size: 26px; } }
  @media screen and (max-width: 320px) {
    .header {
      font-size: 22px; } }

.howtoplay {
  width: 650px; }
  @media screen and (max-width: 768px) {
    .howtoplay {
      width: 95%; } }
  .howtoplay__button {
    background: none;
    border: none;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    font-style: italic; }
    .howtoplay__button:hover {
      color: #0000ff;
      cursor: pointer; }
    @media screen and (max-width: 552px) {
      .howtoplay__button {
        font-size: 18px; } }
    @media screen and (max-width: 320px) {
      .howtoplay__button {
        font-size: 16px; } }
  .howtoplay__text {
    display: none;
    margin: 10px 0; }

.options {
  width: 450px; }
  @media screen and (max-width: 552px) {
    .options {
      width: 95%; } }
  .options__button {
    background: none;
    border: none;
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
    font-style: italic; }
    .options__button:hover {
      color: #0000ff;
      cursor: pointer; }
    @media screen and (max-width: 552px) {
      .options__button {
        font-size: 18px; } }
    @media screen and (max-width: 320px) {
      .options__button {
        font-size: 16px; } }
  .options__header {
    font-size: 30px;
    font-weight: bold; }
    @media screen and (max-width: 552px) {
      .options__header {
        font-size: 26px; } }
    @media screen and (max-width: 320px) {
      .options__header {
        font-size: 22px; } }
  .options__form {
    display: none; }
    .options__form .formset {
      display: flex;
      flex-flow: column wrap;
      margin-top: 10px; }
      .options__form .formset input[type=number] {
        width: 100px; }
  .options__confirm {
    display: flex;
    flex-flow: column;
    margin-top: 10px; }
    .options__confirm .optionsForm__confirm {
      width: 100px;
      margin: 0 auto;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      font-size: 20px; }
      .options__confirm .optionsForm__confirm:hover {
        cursor: pointer;
        background-color: #666666; }
      .options__confirm .optionsForm__confirm:disabled {
        cursor: not-allowed;
        background-color: #CCCCCC; }
      @media screen and (max-width: 552px) {
        .options__confirm .optionsForm__confirm {
          font-size: 18px; } }
      @media screen and (max-width: 320px) {
        .options__confirm .optionsForm__confirm {
          font-size: 16px; } }
      @media screen and (max-width: 552px) {
        .options__confirm .optionsForm__confirm {
          width: 95px;
          margin: 0 auto;
          border-radius: 10px;
          border: solid 2px black;
          text-align: center;
          margin-top: 15px;
          font-size: 20px; }
          .options__confirm .optionsForm__confirm:hover {
            cursor: pointer;
            background-color: #666666; }
          .options__confirm .optionsForm__confirm:disabled {
            cursor: not-allowed;
            background-color: #CCCCCC; } }
  @media screen and (max-width: 552px) and (max-width: 552px) {
    .options__confirm .optionsForm__confirm {
      font-size: 18px; } }
  @media screen and (max-width: 552px) and (max-width: 320px) {
    .options__confirm .optionsForm__confirm {
      font-size: 16px; } }
      @media screen and (max-width: 320px) {
        .options__confirm .optionsForm__confirm {
          width: 90px;
          margin: 0 auto;
          border-radius: 10px;
          border: solid 2px black;
          text-align: center;
          margin-top: 15px;
          font-size: 20px; }
          .options__confirm .optionsForm__confirm:hover {
            cursor: pointer;
            background-color: #666666; }
          .options__confirm .optionsForm__confirm:disabled {
            cursor: not-allowed;
            background-color: #CCCCCC; } }
  @media screen and (max-width: 320px) and (max-width: 552px) {
    .options__confirm .optionsForm__confirm {
      font-size: 18px; } }
  @media screen and (max-width: 320px) and (max-width: 320px) {
    .options__confirm .optionsForm__confirm {
      font-size: 16px; } }
    .options__confirm .optionsForm__error {
      margin-top: 10px;
      color: #ff0000;
      font-style: italic; }

.selection {
  width: 450px; }
  @media screen and (max-width: 552px) {
    .selection {
      width: 95%; } }
  .selection__header {
    font-size: 30px;
    font-weight: bold; }
    @media screen and (max-width: 552px) {
      .selection__header {
        font-size: 26px; } }
    @media screen and (max-width: 320px) {
      .selection__header {
        font-size: 22px; } }
  .selection__selectedTypes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .selection__selectedTypes .selected__type {
      width: 100px;
      font-size: 20px;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      color: black; }
      .selection__selectedTypes .selected__type:disabled {
        cursor: not-allowed; }
      @media screen and (max-width: 552px) {
        .selection__selectedTypes .selected__type {
          font-size: 18px;
          width: 95px; } }
      @media screen and (max-width: 320px) {
        .selection__selectedTypes .selected__type {
          font-size: 16px;
          width: 90px; } }
      .selection__selectedTypes .selected__type--Normal {
        background-color: #A8A878; }
        .selection__selectedTypes .selected__type--Normal:hover {
          cursor: pointer;
          background-color: #6D6D4E; }
        .selection__selectedTypes .selected__type--Normal:disabled {
          cursor: not-allowed;
          background-color: #6D6D4E;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Fighting {
        background-color: #C03028; }
        .selection__selectedTypes .selected__type--Fighting:hover {
          cursor: pointer;
          background-color: #7D1F1A; }
        .selection__selectedTypes .selected__type--Fighting:disabled {
          cursor: not-allowed;
          background-color: #7D1F1A;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Flying {
        background-color: #A890F0; }
        .selection__selectedTypes .selected__type--Flying:hover {
          cursor: pointer;
          background-color: #6D5E9C; }
        .selection__selectedTypes .selected__type--Flying:disabled {
          cursor: not-allowed;
          background-color: #6D5E9C;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Poison {
        background-color: #A040A0; }
        .selection__selectedTypes .selected__type--Poison:hover {
          cursor: pointer;
          background-color: #682A68; }
        .selection__selectedTypes .selected__type--Poison:disabled {
          cursor: not-allowed;
          background-color: #682A68;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Ground {
        background-color: #E0C068; }
        .selection__selectedTypes .selected__type--Ground:hover {
          cursor: pointer;
          background-color: #927D44; }
        .selection__selectedTypes .selected__type--Ground:disabled {
          cursor: not-allowed;
          background-color: #927D44;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Rock {
        background-color: #B8A038; }
        .selection__selectedTypes .selected__type--Rock:hover {
          cursor: pointer;
          background-color: #786824; }
        .selection__selectedTypes .selected__type--Rock:disabled {
          cursor: not-allowed;
          background-color: #786824;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Bug {
        background-color: #A8B820; }
        .selection__selectedTypes .selected__type--Bug:hover {
          cursor: pointer;
          background-color: #6D7815; }
        .selection__selectedTypes .selected__type--Bug:disabled {
          cursor: not-allowed;
          background-color: #6D7815;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Ghost {
        background-color: #705898; }
        .selection__selectedTypes .selected__type--Ghost:hover {
          cursor: pointer;
          background-color: #493963; }
        .selection__selectedTypes .selected__type--Ghost:disabled {
          cursor: not-allowed;
          background-color: #493963;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Steel {
        background-color: #B8B8D0; }
        .selection__selectedTypes .selected__type--Steel:hover {
          cursor: pointer;
          background-color: #787887; }
        .selection__selectedTypes .selected__type--Steel:disabled {
          cursor: not-allowed;
          background-color: #787887;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Fire {
        background-color: #F08030; }
        .selection__selectedTypes .selected__type--Fire:hover {
          cursor: pointer;
          background-color: #9C531F; }
        .selection__selectedTypes .selected__type--Fire:disabled {
          cursor: not-allowed;
          background-color: #9C531F;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Water {
        background-color: #6890F0; }
        .selection__selectedTypes .selected__type--Water:hover {
          cursor: pointer;
          background-color: #445E9C; }
        .selection__selectedTypes .selected__type--Water:disabled {
          cursor: not-allowed;
          background-color: #445E9C;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Grass {
        background-color: #78C850; }
        .selection__selectedTypes .selected__type--Grass:hover {
          cursor: pointer;
          background-color: #4E8234; }
        .selection__selectedTypes .selected__type--Grass:disabled {
          cursor: not-allowed;
          background-color: #4E8234;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Electric {
        background-color: #F8D030; }
        .selection__selectedTypes .selected__type--Electric:hover {
          cursor: pointer;
          background-color: #A1871F; }
        .selection__selectedTypes .selected__type--Electric:disabled {
          cursor: not-allowed;
          background-color: #A1871F;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Psychic {
        background-color: #F85888; }
        .selection__selectedTypes .selected__type--Psychic:hover {
          cursor: pointer;
          background-color: #A13959; }
        .selection__selectedTypes .selected__type--Psychic:disabled {
          cursor: not-allowed;
          background-color: #A13959;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Ice {
        background-color: #98D8D8; }
        .selection__selectedTypes .selected__type--Ice:hover {
          cursor: pointer;
          background-color: #638D8D; }
        .selection__selectedTypes .selected__type--Ice:disabled {
          cursor: not-allowed;
          background-color: #638D8D;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Dragon {
        background-color: #7038F8; }
        .selection__selectedTypes .selected__type--Dragon:hover {
          cursor: pointer;
          background-color: #4924A1; }
        .selection__selectedTypes .selected__type--Dragon:disabled {
          cursor: not-allowed;
          background-color: #4924A1;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Dark {
        background-color: #705848; }
        .selection__selectedTypes .selected__type--Dark:hover {
          cursor: pointer;
          background-color: #49392F; }
        .selection__selectedTypes .selected__type--Dark:disabled {
          cursor: not-allowed;
          background-color: #49392F;
          color: #CCCCCC; }
      .selection__selectedTypes .selected__type--Fairy {
        background-color: #EE99AC; }
        .selection__selectedTypes .selected__type--Fairy:hover {
          cursor: pointer;
          background-color: #9B6470; }
        .selection__selectedTypes .selected__type--Fairy:disabled {
          cursor: not-allowed;
          background-color: #9B6470;
          color: #CCCCCC; }
  .selection__selectTypes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .selection__selectTypes .select__type {
      width: 100px;
      font-size: 20px;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      color: white; }
      .selection__selectTypes .select__type:disabled {
        cursor: not-allowed; }
      @media screen and (max-width: 552px) {
        .selection__selectTypes .select__type {
          font-size: 18px;
          width: 95px; } }
      @media screen and (max-width: 320px) {
        .selection__selectTypes .select__type {
          font-size: 16px;
          width: 90px; } }
      .selection__selectTypes .select__type--Normal {
        background-color: #A8A878; }
        .selection__selectTypes .select__type--Normal:hover {
          cursor: pointer;
          background-color: #6D6D4E; }
        .selection__selectTypes .select__type--Normal:disabled {
          cursor: not-allowed;
          background-color: #6D6D4E;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Fighting {
        background-color: #C03028; }
        .selection__selectTypes .select__type--Fighting:hover {
          cursor: pointer;
          background-color: #7D1F1A; }
        .selection__selectTypes .select__type--Fighting:disabled {
          cursor: not-allowed;
          background-color: #7D1F1A;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Flying {
        background-color: #A890F0; }
        .selection__selectTypes .select__type--Flying:hover {
          cursor: pointer;
          background-color: #6D5E9C; }
        .selection__selectTypes .select__type--Flying:disabled {
          cursor: not-allowed;
          background-color: #6D5E9C;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Poison {
        background-color: #A040A0; }
        .selection__selectTypes .select__type--Poison:hover {
          cursor: pointer;
          background-color: #682A68; }
        .selection__selectTypes .select__type--Poison:disabled {
          cursor: not-allowed;
          background-color: #682A68;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Ground {
        background-color: #E0C068; }
        .selection__selectTypes .select__type--Ground:hover {
          cursor: pointer;
          background-color: #927D44; }
        .selection__selectTypes .select__type--Ground:disabled {
          cursor: not-allowed;
          background-color: #927D44;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Rock {
        background-color: #B8A038; }
        .selection__selectTypes .select__type--Rock:hover {
          cursor: pointer;
          background-color: #786824; }
        .selection__selectTypes .select__type--Rock:disabled {
          cursor: not-allowed;
          background-color: #786824;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Bug {
        background-color: #A8B820; }
        .selection__selectTypes .select__type--Bug:hover {
          cursor: pointer;
          background-color: #6D7815; }
        .selection__selectTypes .select__type--Bug:disabled {
          cursor: not-allowed;
          background-color: #6D7815;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Ghost {
        background-color: #705898; }
        .selection__selectTypes .select__type--Ghost:hover {
          cursor: pointer;
          background-color: #493963; }
        .selection__selectTypes .select__type--Ghost:disabled {
          cursor: not-allowed;
          background-color: #493963;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Steel {
        background-color: #B8B8D0; }
        .selection__selectTypes .select__type--Steel:hover {
          cursor: pointer;
          background-color: #787887; }
        .selection__selectTypes .select__type--Steel:disabled {
          cursor: not-allowed;
          background-color: #787887;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Fire {
        background-color: #F08030; }
        .selection__selectTypes .select__type--Fire:hover {
          cursor: pointer;
          background-color: #9C531F; }
        .selection__selectTypes .select__type--Fire:disabled {
          cursor: not-allowed;
          background-color: #9C531F;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Water {
        background-color: #6890F0; }
        .selection__selectTypes .select__type--Water:hover {
          cursor: pointer;
          background-color: #445E9C; }
        .selection__selectTypes .select__type--Water:disabled {
          cursor: not-allowed;
          background-color: #445E9C;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Grass {
        background-color: #78C850; }
        .selection__selectTypes .select__type--Grass:hover {
          cursor: pointer;
          background-color: #4E8234; }
        .selection__selectTypes .select__type--Grass:disabled {
          cursor: not-allowed;
          background-color: #4E8234;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Electric {
        background-color: #F8D030; }
        .selection__selectTypes .select__type--Electric:hover {
          cursor: pointer;
          background-color: #A1871F; }
        .selection__selectTypes .select__type--Electric:disabled {
          cursor: not-allowed;
          background-color: #A1871F;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Psychic {
        background-color: #F85888; }
        .selection__selectTypes .select__type--Psychic:hover {
          cursor: pointer;
          background-color: #A13959; }
        .selection__selectTypes .select__type--Psychic:disabled {
          cursor: not-allowed;
          background-color: #A13959;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Ice {
        background-color: #98D8D8; }
        .selection__selectTypes .select__type--Ice:hover {
          cursor: pointer;
          background-color: #638D8D; }
        .selection__selectTypes .select__type--Ice:disabled {
          cursor: not-allowed;
          background-color: #638D8D;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Dragon {
        background-color: #7038F8; }
        .selection__selectTypes .select__type--Dragon:hover {
          cursor: pointer;
          background-color: #4924A1; }
        .selection__selectTypes .select__type--Dragon:disabled {
          cursor: not-allowed;
          background-color: #4924A1;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Dark {
        background-color: #705848; }
        .selection__selectTypes .select__type--Dark:hover {
          cursor: pointer;
          background-color: #49392F; }
        .selection__selectTypes .select__type--Dark:disabled {
          cursor: not-allowed;
          background-color: #49392F;
          color: #CCCCCC; }
      .selection__selectTypes .select__type--Fairy {
        background-color: #EE99AC; }
        .selection__selectTypes .select__type--Fairy:hover {
          cursor: pointer;
          background-color: #9B6470; }
        .selection__selectTypes .select__type--Fairy:disabled {
          cursor: not-allowed;
          background-color: #9B6470;
          color: #CCCCCC; }
  .selection__confirm {
    display: flex; }
    .selection__confirm .confirm__button {
      width: 100px;
      margin: 0 auto;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      font-size: 20px; }
      .selection__confirm .confirm__button:hover {
        cursor: pointer;
        background-color: #666666; }
      .selection__confirm .confirm__button:disabled {
        cursor: not-allowed;
        background-color: #CCCCCC; }
      @media screen and (max-width: 552px) {
        .selection__confirm .confirm__button {
          font-size: 18px; } }
      @media screen and (max-width: 320px) {
        .selection__confirm .confirm__button {
          font-size: 16px; } }
      @media screen and (max-width: 552px) {
        .selection__confirm .confirm__button {
          width: 95px;
          margin: 0 auto;
          border-radius: 10px;
          border: solid 2px black;
          text-align: center;
          margin-top: 15px;
          font-size: 20px; }
          .selection__confirm .confirm__button:hover {
            cursor: pointer;
            background-color: #666666; }
          .selection__confirm .confirm__button:disabled {
            cursor: not-allowed;
            background-color: #CCCCCC; } }
  @media screen and (max-width: 552px) and (max-width: 552px) {
    .selection__confirm .confirm__button {
      font-size: 18px; } }
  @media screen and (max-width: 552px) and (max-width: 320px) {
    .selection__confirm .confirm__button {
      font-size: 16px; } }
      @media screen and (max-width: 320px) {
        .selection__confirm .confirm__button {
          width: 90px;
          margin: 0 auto;
          border-radius: 10px;
          border: solid 2px black;
          text-align: center;
          margin-top: 15px;
          font-size: 20px; }
          .selection__confirm .confirm__button:hover {
            cursor: pointer;
            background-color: #666666; }
          .selection__confirm .confirm__button:disabled {
            cursor: not-allowed;
            background-color: #CCCCCC; } }
  @media screen and (max-width: 320px) and (max-width: 552px) {
    .selection__confirm .confirm__button {
      font-size: 18px; } }
  @media screen and (max-width: 320px) and (max-width: 320px) {
    .selection__confirm .confirm__button {
      font-size: 16px; } }

.battlezone {
  display: none;
  width: 650px; }
  @media screen and (max-width: 768px) {
    .battlezone {
      width: 90%; } }
  .battlezone__header {
    font-size: 30px;
    font-weight: bold; }
    @media screen and (max-width: 552px) {
      .battlezone__header {
        font-size: 26px; } }
    @media screen and (max-width: 320px) {
      .battlezone__header {
        font-size: 22px; } }
  .battlezone .turncount {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    .battlezone .turncount > * {
      margin: 0 5px; }
  .battlezone .healthsets {
    position: relative;
    color: #ffffff; }
    .battlezone .healthsets__image {
      max-width: 100%; }
    .battlezone .healthsets__player {
      position: absolute;
      top: 35%;
      left: 15%; }
      @media screen and (max-width: 552px) {
        .battlezone .healthsets__player {
          left: 10%;
          font-size: 16px; } }
      @media screen and (max-width: 440px) {
        .battlezone .healthsets__player {
          left: 5%;
          top: 30%; } }
      @media screen and (max-width: 320px) {
        .battlezone .healthsets__player {
          top: 25%;
          font-size: 14px; } }
    .battlezone .healthsets__ai {
      position: absolute;
      top: 35%;
      left: 65%;
      text-align: right; }
      @media screen and (max-width: 552px) {
        .battlezone .healthsets__ai {
          font-size: 16px; } }
      @media screen and (max-width: 440px) {
        .battlezone .healthsets__ai {
          left: 60%;
          top: 30%; } }
      @media screen and (max-width: 320px) {
        .battlezone .healthsets__ai {
          top: 25%;
          font-size: 14px; } }
  .battlezone .moves {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    .battlezone .moves .move {
      width: 100px;
      font-size: 20px;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      color: white; }
      .battlezone .moves .move:disabled {
        cursor: not-allowed; }
      @media screen and (max-width: 552px) {
        .battlezone .moves .move {
          font-size: 18px;
          width: 95px; } }
      @media screen and (max-width: 320px) {
        .battlezone .moves .move {
          font-size: 16px;
          width: 90px; } }
      .battlezone .moves .move--Normal {
        background-color: #A8A878; }
        .battlezone .moves .move--Normal:hover {
          cursor: pointer;
          background-color: #6D6D4E; }
        .battlezone .moves .move--Normal:disabled {
          cursor: not-allowed;
          background-color: #6D6D4E;
          color: #CCCCCC; }
      .battlezone .moves .move--Fighting {
        background-color: #C03028; }
        .battlezone .moves .move--Fighting:hover {
          cursor: pointer;
          background-color: #7D1F1A; }
        .battlezone .moves .move--Fighting:disabled {
          cursor: not-allowed;
          background-color: #7D1F1A;
          color: #CCCCCC; }
      .battlezone .moves .move--Flying {
        background-color: #A890F0; }
        .battlezone .moves .move--Flying:hover {
          cursor: pointer;
          background-color: #6D5E9C; }
        .battlezone .moves .move--Flying:disabled {
          cursor: not-allowed;
          background-color: #6D5E9C;
          color: #CCCCCC; }
      .battlezone .moves .move--Poison {
        background-color: #A040A0; }
        .battlezone .moves .move--Poison:hover {
          cursor: pointer;
          background-color: #682A68; }
        .battlezone .moves .move--Poison:disabled {
          cursor: not-allowed;
          background-color: #682A68;
          color: #CCCCCC; }
      .battlezone .moves .move--Ground {
        background-color: #E0C068; }
        .battlezone .moves .move--Ground:hover {
          cursor: pointer;
          background-color: #927D44; }
        .battlezone .moves .move--Ground:disabled {
          cursor: not-allowed;
          background-color: #927D44;
          color: #CCCCCC; }
      .battlezone .moves .move--Rock {
        background-color: #B8A038; }
        .battlezone .moves .move--Rock:hover {
          cursor: pointer;
          background-color: #786824; }
        .battlezone .moves .move--Rock:disabled {
          cursor: not-allowed;
          background-color: #786824;
          color: #CCCCCC; }
      .battlezone .moves .move--Bug {
        background-color: #A8B820; }
        .battlezone .moves .move--Bug:hover {
          cursor: pointer;
          background-color: #6D7815; }
        .battlezone .moves .move--Bug:disabled {
          cursor: not-allowed;
          background-color: #6D7815;
          color: #CCCCCC; }
      .battlezone .moves .move--Ghost {
        background-color: #705898; }
        .battlezone .moves .move--Ghost:hover {
          cursor: pointer;
          background-color: #493963; }
        .battlezone .moves .move--Ghost:disabled {
          cursor: not-allowed;
          background-color: #493963;
          color: #CCCCCC; }
      .battlezone .moves .move--Steel {
        background-color: #B8B8D0; }
        .battlezone .moves .move--Steel:hover {
          cursor: pointer;
          background-color: #787887; }
        .battlezone .moves .move--Steel:disabled {
          cursor: not-allowed;
          background-color: #787887;
          color: #CCCCCC; }
      .battlezone .moves .move--Fire {
        background-color: #F08030; }
        .battlezone .moves .move--Fire:hover {
          cursor: pointer;
          background-color: #9C531F; }
        .battlezone .moves .move--Fire:disabled {
          cursor: not-allowed;
          background-color: #9C531F;
          color: #CCCCCC; }
      .battlezone .moves .move--Water {
        background-color: #6890F0; }
        .battlezone .moves .move--Water:hover {
          cursor: pointer;
          background-color: #445E9C; }
        .battlezone .moves .move--Water:disabled {
          cursor: not-allowed;
          background-color: #445E9C;
          color: #CCCCCC; }
      .battlezone .moves .move--Grass {
        background-color: #78C850; }
        .battlezone .moves .move--Grass:hover {
          cursor: pointer;
          background-color: #4E8234; }
        .battlezone .moves .move--Grass:disabled {
          cursor: not-allowed;
          background-color: #4E8234;
          color: #CCCCCC; }
      .battlezone .moves .move--Electric {
        background-color: #F8D030; }
        .battlezone .moves .move--Electric:hover {
          cursor: pointer;
          background-color: #A1871F; }
        .battlezone .moves .move--Electric:disabled {
          cursor: not-allowed;
          background-color: #A1871F;
          color: #CCCCCC; }
      .battlezone .moves .move--Psychic {
        background-color: #F85888; }
        .battlezone .moves .move--Psychic:hover {
          cursor: pointer;
          background-color: #A13959; }
        .battlezone .moves .move--Psychic:disabled {
          cursor: not-allowed;
          background-color: #A13959;
          color: #CCCCCC; }
      .battlezone .moves .move--Ice {
        background-color: #98D8D8; }
        .battlezone .moves .move--Ice:hover {
          cursor: pointer;
          background-color: #638D8D; }
        .battlezone .moves .move--Ice:disabled {
          cursor: not-allowed;
          background-color: #638D8D;
          color: #CCCCCC; }
      .battlezone .moves .move--Dragon {
        background-color: #7038F8; }
        .battlezone .moves .move--Dragon:hover {
          cursor: pointer;
          background-color: #4924A1; }
        .battlezone .moves .move--Dragon:disabled {
          cursor: not-allowed;
          background-color: #4924A1;
          color: #CCCCCC; }
      .battlezone .moves .move--Dark {
        background-color: #705848; }
        .battlezone .moves .move--Dark:hover {
          cursor: pointer;
          background-color: #49392F; }
        .battlezone .moves .move--Dark:disabled {
          cursor: not-allowed;
          background-color: #49392F;
          color: #CCCCCC; }
      .battlezone .moves .move--Fairy {
        background-color: #EE99AC; }
        .battlezone .moves .move--Fairy:hover {
          cursor: pointer;
          background-color: #9B6470; }
        .battlezone .moves .move--Fairy:disabled {
          cursor: not-allowed;
          background-color: #9B6470;
          color: #CCCCCC; }
  .battlezone .reset, .battlezone .nextround {
    width: 650px;
    display: flex; }
    @media screen and (max-width: 768px) {
      .battlezone .reset, .battlezone .nextround {
        width: 100%; } }
    .battlezone .reset__button, .battlezone .nextround__button {
      display: none;
      width: 125px;
      margin: 0 auto;
      border-radius: 10px;
      border: solid 2px black;
      text-align: center;
      margin-top: 15px;
      font-size: 20px; }
      .battlezone .reset__button:hover, .battlezone .nextround__button:hover {
        cursor: pointer;
        background-color: #666666; }
      .battlezone .reset__button:disabled, .battlezone .nextround__button:disabled {
        cursor: not-allowed;
        background-color: #CCCCCC; }
      @media screen and (max-width: 552px) {
        .battlezone .reset__button, .battlezone .nextround__button {
          font-size: 18px; } }
      @media screen and (max-width: 320px) {
        .battlezone .reset__button, .battlezone .nextround__button {
          font-size: 16px; } }
      @media screen and (max-width: 552px) {
        .battlezone .reset__button, .battlezone .nextround__button {
          width: 120px;
          margin: 0 auto;
          border-radius: 10px;
          border: solid 2px black;
          text-align: center;
          margin-top: 15px;
          font-size: 20px; }
          .battlezone .reset__button:hover, .battlezone .nextround__button:hover {
            cursor: pointer;
            background-color: #666666; }
          .battlezone .reset__button:disabled, .battlezone .nextround__button:disabled {
            cursor: not-allowed;
            background-color: #CCCCCC; } }
  @media screen and (max-width: 552px) and (max-width: 552px) {
    .battlezone .reset__button, .battlezone .nextround__button {
      font-size: 18px; } }
  @media screen and (max-width: 552px) and (max-width: 320px) {
    .battlezone .reset__button, .battlezone .nextround__button {
      font-size: 16px; } }
      @media screen and (max-width: 320px) {
        .battlezone .reset__button, .battlezone .nextround__button {
          width: 115px;
          margin: 0 auto;
          border-radius: 10px;
          border: solid 2px black;
          text-align: center;
          margin-top: 15px;
          font-size: 20px; }
          .battlezone .reset__button:hover, .battlezone .nextround__button:hover {
            cursor: pointer;
            background-color: #666666; }
          .battlezone .reset__button:disabled, .battlezone .nextround__button:disabled {
            cursor: not-allowed;
            background-color: #CCCCCC; } }
  @media screen and (max-width: 320px) and (max-width: 552px) {
    .battlezone .reset__button, .battlezone .nextround__button {
      font-size: 18px; } }
  @media screen and (max-width: 320px) and (max-width: 320px) {
    .battlezone .reset__button, .battlezone .nextround__button {
      font-size: 16px; } }
  .battlezone .textbox {
    margin-top: 15px; }

/*# sourceMappingURL=styles.css.map */
